 <ion-view  hide-nav-bar="true" class="contenido ">

  <div class="bar bar-header bar-dark">
   <button class="button icon ion-ios-home " ui-sref="games" >Home</button>
      <h1 class="title">click en la imagen</h1>
  
</div>
  <ion-content class="padding  fondo  contacto"  style="padding-top:50px;">
  
  <div class="card  fondo  ">
       <div class="item item-avatar fondo"  >
            <img src="autor.jpg">
            <h2  style="color:white;">Rolando Paquillo Vega</h2>
        </div>

        <div class="item item-body fondo" >
           <a href="http://github.com/roloteccompu"><img class="full-image" src="autor.jpg"></a> 
     
        </div>
</div>
  </ion-content>
</ion-view>
