<ion-view  >

  <div class="bar bar-header bar-positive">
   <button class="button icon ion-ios-telephone " ui-sref="contacto" >contacto</button>
      <h1 class="title">Apps</h1>
  
</div>

<ion-content  class="contenido">

 
<div class="opcionesDeJuego"> 
        <button class="button button-block botonUno" ng-click="elegirJuego('trivia')">
        AppTrivia
        </button>
        <button class="button button-block botonUno" ui-sref="piano">
        AppSonidosPiano
        </button>
        <button class="button button-block botonUno" ui-sref="controlMovimiento">
        AppControlMovimiento
        </button>

</div>

  </ion-content>
</ion-view>
