<ion-view  >

  <ion-content  class="contenido">
<div class="titulo">
   <h2 class="title">Games</h2>
</div>

 
<div class="opcionesDeJuego"> 
        <button class="button button-block botonUno" ng-click="elegirJuego('trivia')">
        AppTrivia
        </button>
        <button class="button button-block botonDos">
        AppSonidosPiano
        </button>
        <button class="button button-block botonTres">
        AppControlMovimiento
        </button>

</div>

<div class="bar bar-footer bar-dark menuInferior">
   <button class="button icon ion-person-stalker""></button>
   <button class="button icon ion-ios-telephone"></button>
   <button class="button icon ion-star"></button>
  
</div>
  </ion-content>
</ion-view>
