<ion-view    >
    <ion-content  class="contenido">
  
      <div class="  titulo" >
            <h2 >Bienvenido</h2>
      </div>
 
      <div class="login">
            <img src="login.jpg" class="imagen">
            <label class="item item-input  fondo">
            <input type="text" placeholder="Ingrese su nombre" id="fondoLabel" >
            </label>
            <button class="button button-full button-positive" ng-click="cambiarEstado()">Comenzar</button>
      </div>
  </ion-content>
</ion-view>


