
<ion-view  >

  <div class="bar bar-header bar-dark">
   <button class="button icon ion-ios-home " ui-sref="games" >home</button>
      <h1 class="title">Piano</h1>
  
</div>

<ion-content  class="piano">

 
<div class=" contenedorPiano"> 
      
        <button class="botonesPiano" ng-click="play()" >play</button>
        <button class="botonesPiano" ng-click="pause()">pause</button>
        <button class="botonesPiano" ng-click="stop()">stop</button>
        <button class="botonesPiano">boton</button>
         <button class="botonesPiano">boton</button>
        <button class="botonesPiano">boton</button>
        
</div>

</div>

  </ion-content>
</ion-view>
