<ion-view  hide-nav-bar="true" >


  <ion-content  class="contenido">
   <!-- <ion-list class="fondo">
      <ion-item class="item-remove-animate item-avatar item-icon-right fondo" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/games/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->


<div class="opcionesDeJuego">
        <button class="button button-block button-positive">
        Trivia
        </button>
        <button class="button button-block button-positive">
        Piano
        </button>
        <button class="button button-block button-positive">
        
        </button>

</div>
  </ion-content>
</ion-view>
