<ion-view  >
	<ion-content  class="contenido">
		   		<h4>{{measurements.x}}</h4>
		   		<h4>{{measurements.y}}</h4>
		   		<h4>{{measurements.z}}</h4>

		    <div class="bar bar-footer bar-dark">
		    <button class="button icon ion-arrow-left-c" ng-click="games()" ></button>
		     <button class="button " ng-click="startWatching()" >start</button>
		     <button class="button " ng-click="stopWatching()" >stop</button>
		    <h1 class="title">controlMovimiento</h1>
			</div>
  </ion-content>

</ion-view>
