/* Empty. Add your own CSS if you like */
.fondo{
	background-color: transparent;

	}

#fondoLabel{
	color: white;
}

.contenido{
	background-image: url(../fondo.jpg) ;
	 background-size: cover;
       -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}	
.opcionesDeJuego{
	width: 300px;
	margin: 100px auto;
	padding: 30px;
}
.login{
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
.login img{
	margin-top: 40px;
	margin-bottom: 40px;
}
.imagen{
	border-radius: 48%;
	width: 100%;
	height: 100%;
}
.titulo h2{
	text-align:center;
	background-color:rgba(0,0,0,0.2);
	margin: 0 auto;
	color: white;

 }
 .botonUno{
 	
 	background: rgba(0, 150, 255, 0.8);
 	color: white;
 }
 .botonDos{
background: rgba(0, 150, 255, 0.6);
 	color: white;	
 }
 .botonTres{
background: rgba(0, 150, 255, 0.2);
 	color: white;
 }
 .fondoTrivia{
	background-image: url(../fondoTrivia.jpg) ;
       background-size: cover;
       -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
 .divTrivia{
 	width: 300px;
	height: 300px;
	margin: 0 auto;
	padding: 30px;
	
 }
 .botones{
 	margin-top: 20%;

 }
 .botones button{

 }
 .pregunta{
background-color: rgba(50,200,0,0.6);
 	border-radius: 50%;
 	height: 230px;
 	color: white;
 }
 .piano{
   
 	  background-image: url(../fondo.jpg) ;
	 background-size: cover;
       -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
 }
 .contenedorPiano{
 	width: 300px;
	height: 300px;
	background-color: transparent;
	margin: 30px auto;
	margin-top: 100px;
	
	
 }
 .botonesPiano{
 	background-color: blue;
 	width: 100px;
 	height: 100px;
 	margin:20px 20px;
 }
 .click:hover{

 	color: white;
 }
 .click:active{
 
 	color: black;
 }
 .pregunta:hover{
 	color: white;
 	background-color: rgba(50,200,0,0.6);
 }

 /*
perdioTrivia
 */
 .perdioTrivia{
 	width: 300px;
  height: 300px;
  background-color: transparent;
  margin: 30px auto;
  margin-top: 100px;
 }
 .perdioTrivia .h1{
 	text-align: center;color:white;
 }
 .perdioTrivia .h2{
 	text-align: center;color:white;margin-bottom: 40px;
 }
 .perdioTrivia .a1{
 	margin-top: 150px;margin: 50px ;width: 10px;
 }
 .perdioTrivia .a1 .i1{
 	font-size:90px ;color: white;width: 40px;
 }
  .perdioTrivia .a2{
		
 }
 .perdioTrivia .a2 .i2{
 	font-size:90px ;color: white;width: 40px;margin: 30px auto;
 }


 
 
 